.container {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.toolbar button {
  margin: 0 5px;
  padding: 0.5em 1em;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button img {
  vertical-align: middle; /* Ensures the image aligns properly */
}

form button {
  margin: 0px;
  font-size: 0.8em;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center-align items horizontally */
}

math-field {
  font-family: "STIX Two Math", "Latin Modern Math", "Cambria Math",
    "Noto Sans Math", "XITS Math", "Asana Math", serif;
  /* font-size: 1.1em; */
  padding: 10px;
  margin: 10px;
  width: 90%;
  min-height: 150px;
  overflow: auto; /* Enable scrolling */
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
  border-radius: 8px; /* Add rounded corners */
  display: flex;
}

.row button {
  width: auto; /* Let the button size itself */
  margin-top: 1em;
}

input,
button {
  color: #0f0f0f;
  background-color: #f6f6f6f0;

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 0.5em 1em;
}
