h3 {
  margin: 0.3em;
}

#input-form {
  display: flex;
  flex-direction: column;
  /* Optional: Add some space between the stacked elements */
  gap: 1rem; 
}


.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Center-align items horizontally */
}

.container {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}
math-solver,
math-solver-old {
  display: block; /* Ensure it behaves as a block-level element */
  width: 90%; /* Similar to math-field siblings in the form */
  min-height: 470px; /* Adjusted to accommodate internal content and padding */
  margin: 10px; /* Consistent margin with math-field siblings */
  overflow: auto; /* Add scrollbars if internal content overflows */
  /* The parent form.row with 'align-items: center' will handle horizontal centering */
}
